In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier

# Getting the data

In [2]:
original_train_df = pd.read_csv("train.csv")
train_df = original_train_df.copy()

# Explorating the data

In [3]:
train_df.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [4]:
train_df.describe()

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,13730.000000,13730.0,1.373000e+04,13730.000000,13730.000000,13202.000000,13730.000000,13730.000000,1.312100e+04,13121.000000,...,6354.000000,6354.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,2938.000000
mean,2288.173926,2016.0,3.088548e+06,30.736708,21.593809,0.116043,2.185652,1.048871,3.057946e+06,30.429159,...,4.530217,3.962858,4.645594,4.678441,3.341515,4.458995,3.724618,3.506409,4.442098,3.671545
std,1321.230607,0.0,9.890495e+05,9.862405,7.043654,0.365986,1.007285,0.258895,9.703020e+05,9.670030,...,1.027613,1.625356,0.920998,0.865039,1.711930,1.200172,1.689362,1.718858,1.181549,1.746444
min,0.000000,2016.0,1.100023e+06,11.000000,13.000000,0.000000,0.000000,0.000000,1.100023e+06,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1144.000000,2016.0,2.307650e+06,23.000000,17.000000,0.000000,1.000000,1.000000,2.306900e+06,23.000000,...,5.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,3.000000
50%,2288.000000,2016.0,3.118601e+06,31.000000,19.000000,0.000000,3.000000,1.000000,3.106200e+06,31.000000,...,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000
75%,3432.000000,2016.0,3.550308e+06,35.000000,23.000000,0.000000,3.000000,1.000000,3.549805e+06,35.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,4586.000000,2016.0,5.300108e+06,53.000000,67.000000,3.000000,5.000000,4.000000,5.300108e+06,53.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [5]:
train_df.isna().sum()

Unnamed: 0                     0
NU_INSCRICAO                   0
NU_ANO                         0
CO_MUNICIPIO_RESIDENCIA        0
NO_MUNICIPIO_RESIDENCIA        0
CO_UF_RESIDENCIA               0
SG_UF_RESIDENCIA               0
NU_IDADE                       0
TP_SEXO                        0
TP_ESTADO_CIVIL              528
TP_COR_RACA                    0
TP_NACIONALIDADE               0
CO_MUNICIPIO_NASCIMENTO      609
NO_MUNICIPIO_NASCIMENTO      609
CO_UF_NASCIMENTO             609
SG_UF_NASCIMENTO             609
TP_ST_CONCLUSAO                0
TP_ANO_CONCLUIU                0
TP_ESCOLA                      0
TP_ENSINO                   9448
IN_TREINEIRO                   0
CO_ESCOLA                   9448
CO_MUNICIPIO_ESC            9448
NO_MUNICIPIO_ESC            9448
CO_UF_ESC                   9448
SG_UF_ESC                   9448
TP_DEPENDENCIA_ADM_ESC      9448
TP_LOCALIZACAO_ESC          9448
TP_SIT_FUNC_ESC             9448
IN_BAIXA_VISAO                 0
                           ...
Q021                           0
Q022                           0
Q023                           0
Q024                           0
Q025                           0
Q026                           0
Q027                        7373
Q028                        7376
Q029                        7375
Q030                        7375
Q031                        7376
Q032                        7376
Q033                        7376
Q034                           0
Q035                           0
Q036                           0
Q037                           0
Q038                           0
Q039                           0
Q040                           0
Q041                       10792
Q042                           0
Q043                           0
Q044                           0
Q045                           0
Q046                           0
Q047                           0
Q048                           0
Q049                           0
Q050                           0
Length: 167, dtype: int64

In [6]:
train_df.corr()["IN_TREINEIRO"].sort_values()

NU_IDADE                      -0.295091
TP_ANO_CONCLUIU               -0.257710
TP_ESCOLA                     -0.244562
IN_CERTIFICADO                -0.142185
TP_ESTADO_CIVIL               -0.117932
Q030                          -0.105479
Q033                          -0.071335
Q036                          -0.069476
Q035                          -0.061032
NU_NOTA_CH                    -0.053460
Q041                          -0.046232
Q029                          -0.043901
NU_NOTA_CN                    -0.037874
TP_LINGUA                     -0.036395
CO_MUNICIPIO_RESIDENCIA       -0.035317
CO_UF_RESIDENCIA              -0.034944
Q031                          -0.034819
CO_MUNICIPIO_PROVA            -0.032145
CO_UF_PROVA                   -0.031854
NU_NOTA_COMP3                 -0.030147
NU_NOTA_LC                    -0.028261
NU_NOTA_REDACAO               -0.026328
NU_NOTA_COMP4                 -0.025958
NU_NOTA_COMP5                 -0.025811
NU_NOTA_COMP2                 -0.023308
NU_NOTA_MT                    -0.022287
Q037                          -0.020651
CO_MUNICIPIO_NASCIMENTO       -0.018218
IN_SEM_RECURSO                -0.018204
IN_DEFICIENCIA_FISICA         -0.018078
                                 ...
CO_ESCOLA                           NaN
CO_MUNICIPIO_ESC                    NaN
CO_UF_ESC                           NaN
TP_DEPENDENCIA_ADM_ESC              NaN
TP_LOCALIZACAO_ESC                  NaN
TP_SIT_FUNC_ESC                     NaN
IN_CEGUEIRA                         NaN
IN_SURDO_CEGUEIRA                   NaN
IN_AUTISMO                          NaN
IN_ESTUDA_CLASSE_HOSPITALAR         NaN
IN_BRAILLE                          NaN
IN_GUIA_INTERPRETE                  NaN
IN_MACA                             NaN
IN_COMPUTADOR                       NaN
IN_CADEIRA_ESPECIAL                 NaN
IN_CADEIRA_CANHOTO                  NaN
IN_CADEIRA_ACOLCHOADA               NaN
IN_PROVA_DEITADO                    NaN
IN_MOBILIARIO_OBESO                 NaN
IN_LAMINA_OVERLAY                   NaN
IN_PROTETOR_AURICULAR               NaN
IN_MAQUINA_BRAILE                   NaN
IN_SOROBAN                          NaN
IN_MARCA_PASSO                      NaN
IN_SONDA                            NaN
IN_SALA_INDIVIDUAL                  NaN
IN_SALA_ACOMPANHANTE                NaN
IN_MOBILIARIO_ESPECIFICO            NaN
IN_MATERIAL_ESPECIFICO              NaN
CO_UF_ENTIDADE_CERTIFICACAO         NaN
Name: IN_TREINEIRO, Length: 107, dtype: float64

In [7]:
train_df.corr()["IN_TREINEIRO"].sort_values(ascending=False)

IN_TREINEIRO                   1.000000
TP_ST_CONCLUSAO                0.533983
TP_PRESENCA_CN                 0.094692
TP_PRESENCA_CH                 0.094692
TP_PRESENCA_LC                 0.092454
TP_PRESENCA_MT                 0.092454
Q034                           0.055265
Q039                           0.040348
Q005                           0.033411
Q038                           0.018855
TP_COR_RACA                    0.009676
Unnamed: 0                     0.006717
TP_STATUS_REDACAO              0.006688
Q040                           0.005270
IN_SABATISTA                   0.003824
IN_DEFICIENCIA_AUDITIVA        0.000873
Q032                          -0.000943
IN_DISLEXIA                   -0.003297
IN_MEDIDOR_GLICOSE            -0.003297
IN_SALA_ESPECIAL              -0.003297
IN_DISCALCULIA                -0.003297
IN_MEDICAMENTOS               -0.003297
IN_IDOSO                      -0.004663
IN_DEFICIENCIA_MENTAL         -0.004663
IN_DEFICIT_ATENCAO            -0.004848
IN_LEITURA_LABIAL             -0.005711
IN_MESA_CADEIRA_RODAS         -0.006595
IN_SURDEZ                     -0.007374
IN_NOME_SOCIAL                -0.007374
IN_VISAO_MONOCULAR            -0.008078
                                 ...
CO_ESCOLA                           NaN
CO_MUNICIPIO_ESC                    NaN
CO_UF_ESC                           NaN
TP_DEPENDENCIA_ADM_ESC              NaN
TP_LOCALIZACAO_ESC                  NaN
TP_SIT_FUNC_ESC                     NaN
IN_CEGUEIRA                         NaN
IN_SURDO_CEGUEIRA                   NaN
IN_AUTISMO                          NaN
IN_ESTUDA_CLASSE_HOSPITALAR         NaN
IN_BRAILLE                          NaN
IN_GUIA_INTERPRETE                  NaN
IN_MACA                             NaN
IN_COMPUTADOR                       NaN
IN_CADEIRA_ESPECIAL                 NaN
IN_CADEIRA_CANHOTO                  NaN
IN_CADEIRA_ACOLCHOADA               NaN
IN_PROVA_DEITADO                    NaN
IN_MOBILIARIO_OBESO                 NaN
IN_LAMINA_OVERLAY                   NaN
IN_PROTETOR_AURICULAR               NaN
IN_MAQUINA_BRAILE                   NaN
IN_SOROBAN                          NaN
IN_MARCA_PASSO                      NaN
IN_SONDA                            NaN
IN_SALA_INDIVIDUAL                  NaN
IN_SALA_ACOMPANHANTE                NaN
IN_MOBILIARIO_ESPECIFICO            NaN
IN_MATERIAL_ESPECIFICO              NaN
CO_UF_ENTIDADE_CERTIFICACAO         NaN
Name: IN_TREINEIRO, Length: 107, dtype: float64

# Training using a Random Forest Classifier

### Since the features "TP_ST_CONCLUSAO", "NU_IDADE", "TP_ANO_CONCLUIU" were the most correlated with the target feature ("IN_TREINEIRO"), only these three will be used to train the classifier

In [8]:
features = ["TP_ST_CONCLUSAO", "NU_IDADE", "TP_ANO_CONCLUIU"]

In [9]:
x_train = train_df[features]
y_train = train_df["IN_TREINEIRO"]

In [10]:
classifier = RandomForestClassifier()
classifier.fit(x_train, y_train)

RandomForestClassifier()

# Getting the test data

In [11]:
original_test_df = pd.read_csv("test.csv")
test_df = original_test_df.copy()

# Using the classifier with the test data

In [12]:
x_test = test_df[features]

In [23]:
predictions = classifier.predict(x_test)

In [24]:
test_predictions = pd.DataFrame({"NU_INSCRICAO": test_df["NU_INSCRICAO"], "IN_TREINEIRO": predictions})

In [25]:
test_predictions.to_csv("answer.csv")